{% extends "base.html" %}

{% block title %}
    <title>Author Detail |
           {% for author in authors %}
                {{ author.last_name }}, {{ author.first_name }}
           {% endfor %}
    </title>
{% endblock %}

{% block content %}
    <h1>Author:
        {% for author in authors %}
            {{ author.last_name }}, {{ author.first_name }}
        {% endfor %}
    </h1>
    <p >
        {% for author in authors %}
            {{author.date_of_birth}} {% if author.date_of_death %} - {{ author.date_of_death }} {% endif %}
        {% endfor %}
    </p>
<!--    {{ instances.count }}-->
    <h3><strong>Books</strong></h3>
    {% for book in books %}
        <strong><a href="{% url 'book-detail' book.pk %}">{{ book }}</a>
                {% for instance in instances %}
                    {% if instance.book == book %}
                        {{ instance.count }}*
                    {% endif %}
                {% endfor %}
        </strong>
        <p align="justify">{{ book.summary }}</p>
    {% endfor %}

{% endblock %}
